* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
    font-family: sans-serif;
    scroll-behavior: smooth;
}
.container {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
height: 3040px;
width: 1460px;
background-color: rgba(19, 17, 40, 0.977);
color: white;
}
.section1 {
    width: 1460px;
    height: 900px;
    background-image: url(../images/pexels-pok-rie-130576.jpg );
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: linear-gradient(white 50% black 100% ); */
}
.sec1 { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1460px;

}
.header {
margin: 50px 80px 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    width: 1260px;
    text-align: center;
}
ul { 
    width: 300px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none;
    color: white;
}
.cap {
    text-transform: capitalize;
}

.ORANGE {
    padding-top: 200px;
    padding-right: 450px;
    text-align: center;
    color: orange;
}
.img1 {
    width: 366px;
    height: 520px;
    background-image: url(../images/01.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.section2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1460px;
    height: 500px;
}
.matn {
    width: 300px;
}
h1 {
    color: pink;
}